VIDEO_MAX_DURATION_SEC=60
VIDEO_MAX_SIZE_MB=30
VIDEO_ASPECT_RATIO_TOLERANCE=0.1
VIDEO_SEGMENT_DURATION_SEC=4
VIDEO_BITRATES=500k,1500k,4000k
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
VIDEO_TEMP_DIR=/tmp/video_processing
